.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.box {
  background: #DCF2F1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label-left {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

select, input[type="file"] {
  width: 100%;
  height: 40px; /* Ensures both elements have the same height */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  box-sizing: border-box;
}

.acceptance-criteria {
  margin-top: 10px;
  font-size: 14px;
  color: #0F1035;
  text-align: left; /* Aligns the content to the left */
}

.upload-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#365486 ;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.success-message {
  margin-top: 10px;
  color: #28a745;
  text-align: center;
}
