body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.background {
  display: flex;
  height: 100vh;
  width: 100%; /* Ensure full width */
  background-color: #fff;
}

.image-section {
  flex: 1; /* Take up half of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

.image-section img {
  max-width: 100%; /* Allow the image to adjust its width */
  max-height: 100%; /* Allow the image to adjust its height */
  object-fit: contain; /* Ensure the entire image is visible */
  display: block;
}

.login-section {
  flex: 1; /* Adjust to take up the other half of the screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #f0f0f0;
  color: #0f1035;
}

.login-section h2 {
  margin-bottom: 2rem;
  text-align: center;  /* Center-align the heading */
  width: 100%;         /* Make sure the heading takes full width */
  margin-bottom: 1.5rem; /* Add more space below the heading */
}

.login-section form {
  display: flex;
  flex-direction: column;
   /* Center-align form elements */
  width: 100%; /
}

.login-section form input {
  width: calc(100% - 2rem); /* Adjust width with consistent padding */
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2rem; /* Increased margin-bottom for more space */
  background-color: white;
}

.login-section form input::placeholder {
  font-size: 1rem;
  color: #0f1035;
}

.login-section form input:focus {
  color: #0f1035;
}

.login-section button {
  padding: 1rem 1.5rem; /* Slightly increased padding for the button */
  background-color: #1E2A5A;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: calc(100% - 2rem); /* Make the button width consistent with inputs */
  margin-left: 0; /* Align button with input */
  margin-bottom: 2rem; /* Add more space below the button */
}

.login-section p {
  margin-top: 2rem; /* Increase the space between button and text */
  text-align: center;
  width: 100%;
}

.login-section a {
  color: #365486;
  text-decoration: none;
}
