.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.thank-you-content {
  text-align: center;
  background-color: #fff; /* White background for the container */
  padding: 2em;
  margin-bottom: 20%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tick {
  font-size: 4em;
  color: #365486; /* Green color for the tick mark */
}

.message {
  margin: 1em 0;
  font-size: 1.2em;
  color: #333; /* Dark gray color for the message text */
}

.button {
  background-color: #2b2f90; /* Green background for the button */
  color: white;
  padding: 0.75em 1.5em;
  margin-top: 3%;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
}

.button:hover {
  background-color: #0f1035; /* Darker green for the button hover effect */
}
